@page "/finishcreation"
@using AccountDataSerializer
@using Microsoft.EntityFrameworkCore;
@using Newtonsoft.Json
@using PSI_MobileApp.DataServices;
@using ProfileClasses
@using System.Collections.ObjectModel
@using ClassLibrary
@inject IGetData data
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@implements IDisposable
@if (createSuccessfully != null)
{
    @if (createSuccessfully == true)
    {
        <h3> Profile created successfully.</h3>
    }
    else
    {
        <h3> Profile creation failed unexpectedly.</h3>
        <MudButton @onclick="Reload"></MudButton>
    }
}
else
{
    <MudText> Creating Profile </MudText>
}

@code {
    bool? createSuccessfully = null;
    public void Reload()
    {
        NavigationManager.NavigateTo("finishcreation");
    }

    protected override async Task OnInitializedAsync()
    {
        await data.AddNewAccount(StateContainer.TempAccount);
        await data.AddNewProfile(StateContainer.TempProfile);
        if (StateContainer.CreatingDistributor)
        {
            await data.AddDistributor(StateContainer.TempAccount.Id);
        }
        createSuccessfully = true;
    }
    public void Continue()
    {
        StateContainer.TempProfile = new();
        StateContainer.TempAccount = new();
        NavigationManager.NavigateTo("");
    }
    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
