<!-- The end of profile creation and sends the profile to the database through the web service-->
@page "/finishcreation"
@using Microsoft.EntityFrameworkCore;
@using Newtonsoft.Json
@using PSI_MobileApp.DataServices;
@using ProfileClasses
@using System.Collections.ObjectModel
@using ClassLibrary
@using PSI_MobileApp.Containers
@inject IGetData data
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@implements IDisposable
@if (createSuccessfully != null)
{
    @if (createSuccessfully == true)
    {
        <h3> Profile created successfully.</h3>
    }
    else
    {
        <h3> Profile creation failed unexpectedly.</h3>
        <MudButton @onclick="Reload"></MudButton>
    }
}
else
{
    <MudText> Creating Profile </MudText>
}

@code {
    bool? createSuccessfully = null;
    public void Reload()
    {
        NavigationManager.NavigateTo("finishcreation");
    }

    protected override async Task OnInitializedAsync()
    {
        await data.AddNewAccount(StateContainer.TempAccount);
        await data.AddNewProfile(StateContainer.TempProfile);
        if (StateContainer.CreatingDistributor)
        {
            Distributor distributor = new();
            distributor.Id = StateContainer.TempAccount.Id;
            await data.AddDistributor(distributor);
        }
        createSuccessfully = true;
    }
    public void Continue()
    {
        StateContainer.TempProfile = new();
        StateContainer.TempAccount = new();
        NavigationManager.NavigateTo("");
    }
    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
