@page "/subs"
@using ClassLibrary;
@using ProfileClasses
@using System.Collections.ObjectModel
@using AccountDataSerializer
@using Microsoft.EntityFrameworkCore
@using PSI_MobileApp.Extensions
@using System.Diagnostics;
@inject StateContainer StateContainer
@inject IdStateContainer IdContainer
@inject NavigationManager NavigationManager
@inject CurrentUserContainer CurrentUserContainer
@inject IDbContextFactory<ProjectDatabaseContext> DbFactory
@implements IDisposable

<h3>Subscriptions</h3>
@if (Profile == null || Profile.Subscriptions == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Rating</th>
				<th>Cuisines</th>
			</tr>
		</thead>
		<tbody>
				@foreach (var supplier in Profile.Subscriptions)
				{
					<tr>
						<td @onclick="()=>GoToDetailOnClick(DistributorProfiles.First(i => supplier.Id == i.Id))">@DistributorProfiles.First(i => supplier.Id == i.Id).Name</td>
						<MudRating ReadOnly="true" Color="Color.Dark" SelectedValue=@Convert.ToInt32(supplier.Rating)></MudRating>
						<td>
							@foreach (var cuisine in DistributorProfiles.First(i => supplier.Id == i.Id).CuisineArray)
							{
								@cuisine.ToString()<br>
							}
						</td>
						<MudButton Variant="Variant.Filled" Color="Color.Secondary" class="btn btn-primary" @onclick="()=>ChangeSubscriptionStatus(supplier)">Unsubscribe</MudButton>
					</tr>
				}
		</tbody>
	</table>
}

@code {
	public Profile Profile { get; set; }
	public List<Profile> DistributorProfiles { get; set; }
	private ProjectDatabaseContext _context;

	public void GoToDetailOnClick(Profile supplier)
	{
		StateContainer.OnChange += StateHasChanged;
		StateContainer.Supplier = supplier;
		IdContainer.Id = supplier.Id;
		NavigationManager.NavigateTo("/../supplierdetails");
	}

	public void ChangeSubscriptionStatus(Distributor distributor)
	{
		if (Profile.Subscriptions.Contains(distributor))
		{
			Profile.Subscriptions.Remove(distributor);
		}
		else
		{
			Profile.Subscriptions.Add(distributor);
		}
		_context.SaveChanges();
	}

	protected override async Task OnInitializedAsync()
	{
		Debug.WriteLine("SubsInitialized");
		try
		{
			_context = DbFactory.CreateDbContext();
			if (_context != null && _context.Profiles != null)
			{
				StateContainer.OnChange += StateHasChanged;

				Profile = CurrentUserContainer.GetProfileFromDB(Logger, _context);
				DistributorProfiles = _context.Profiles.ToList();
			}

		}
		catch(Exception ex)
		{
			Logger.Log(ex);
		}
		await base.OnInitializedAsync();
	}
	public void Dispose()
	{
		_context.SaveChanges();
		StateContainer.OnChange -= StateHasChanged;
		_context?.Dispose();
	}

}
