@inherits LayoutComponentBase
@using ClassLibrary;
@using Microsoft.EntityFrameworkCore;
@inject CurrentUserContainer container
@inject NavigationManager NavigationManager
@inject ExceptionLogger logger
@inject IDbContextFactory<ProjectDatabaseContext> DbFactory
<div class="page">
	<MudThemeProvider />
	<MudDialogProvider  />
	<MudSnackbarProvider />
	<div class="sidebar">
		<NavMenu />
	</div>
	
	<main>

		<div class="top-row px-4">

			<MudMenu>
				<ActivatorContent>
					<MudAvatar @ref="avatar"> @AddLetter() </MudAvatar>
				</ActivatorContent>
				<ChildContent>
					@if(container.UserId != null)
					{
						<MudMenuItem >Profile</MudMenuItem>
						<MudMenuItem OnClick="SignOut">Log Out</MudMenuItem>
					}
					else
					{
						<MudMenuItem OnClick="SignIn">Sign In</MudMenuItem>
						<MudMenuItem OnClick="Register">Register</MudMenuItem>
					}
				</ChildContent>
			</MudMenu>
			
			</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
@code {
	MudAvatar avatar;

	public void SignOut()
	{
		container.Logout(logger, DbFactory.CreateDbContext());
	}

	public void SignIn()
	{
		NavigationManager.NavigateTo("login");
	}
	public void Register()
	{
		NavigationManager.NavigateTo("chooseaccounttype");
	}
	public String AddLetter()
	{
		if((container.UserId != null) && (container.UserId != Guid.Empty))
		{
			return container.GetUserAccount().UserName.Substring(0, 1);
		}
		return "";
	}
	protected override void OnInitialized()
	{
		base.OnInitialized();
	}
}